<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse top justify-content-between">
  <div class="col-6">
    <a class="navbar-brand" href="#">Not Amazon</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/main-page">Products
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>