@media (min-width: 768px) {
    .modal-dialog {
      width: 100%;
     max-width:900px;
     margin-left:40%;
    }
  }


  .modal-dialog{
    max-height: 750px;
    height: 100%;
    overflow: scroll;
  }


  #cardImage{
    padding: 10px;
  }


.styleSelect select {
  background: transparent;
  width: 250px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  color: #000;
}


.styleSelect {
  width: 250px;
  height: 34px;
  overflow: hidden;
  background: url("../../assets/down-arrow.png") no-repeat 95% 50% #fff;
  border: 1px solid #000;
}


.paddin{
  padding:10px
}

/* Give pic enough room */
#mainPic{
    height: 600px; 
}

#counter{
    margin-top: 16px;
}

.prodAttrs{
    margin-left: 30px;
    margin-right: 30px;
}
