<div class="row">
  <form #myForm="ngForm" (ngSubmit)="setAxes(myForm)">
    <div class="row">
      <label for="">X</label>
      <select value="Price" name='x-axis' id="select1" ngModel>
          <option value="None"></option>
          <option value="Price">Price</option>
          <option value="Hard Drive Capacity">Hard Drive Capacity</option>
          <option value="Processor Speed">Processor Speed</option>
          <option value="System Memory(RAM)">System Memory(RAM)</option>
          <option value="Battery Life">Battery Life</option>
          <option value="Screen Size">Screen Size</option>
          <option value="Height">Height</option>
          <option value="Width">Width</option>
          <option value="Depth">Depth</option>
          <option value="Weight">Weight</option>
        </select>
    </div>
    <div class="row">
        <label for="">Y</label>
        <select name='y-axis' id="select2" ngModel>
            <option value="None"></option>
            <option value="Price">Price</option>
            <option value="Hard Drive Capacity">Hard Drive Capacity</option>
            <option value="Processor Speed">Processor Speed</option>
            <option value="System Memory(RAM)">System Memory(RAM)</option>
            <option value="Battery Life">Battery Life</option>
            <option value="Screen Size">Screen Size</option>
            <option value="Height">Height</option>
            <option value="Width">Width</option>
            <option value="Depth">Depth</option>
            <option value="Weight">Weight</option>
          </select>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-submit">Update!</button>
    </div>
  </form>
</div>

<div class="row">
  <div class="title">Hard Drive Capacity</div>
  <div class="choice">1-200GB</div>
  <div class="choice">200-400GB</div>
  <div class="choice">400-600GB</div>
</div>

<div class="row">
    <div class="title">Processor Speed</div>
    <div class="choice">0.5-1.5GHz</div>
    <div class="choice">1.5-2.3GHz</div>
    <div class="choice">2.3-3GHz</div>
</div>


<div class="row">
    <div class="title">Price</div>
    <div class="choice">1-200</div>
    <div class="choice">200-400</div>
    <div class="choice">400-600</div>
</div>