.rotated{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.trans-down{
    transform: translateY(200px);
}

.trans-right{
    transform: translateX(400px);
}

.axis path,
.axis line,
.tick line,
.line {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
}


.popup {
    fill: white;
    stroke: #000;
  }

  .spacer{
      padding-top: 10px;
  }

.spacer-md{
    padding-top: 20px;
}

  /* @media (min-width: 768px) {
    .modal-xl {
      width: 100%;
     max-width:1400px;
    }
  } */

  .mymodal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.myfade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.myfade.in {
    opacity: 1;
}

.mymodal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.mymodal.in .mymodal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.mymodal.fade .mymodal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

@media (min-width: 768px) {
    .mymodal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
