.rotated{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.trans-down{
    transform: translateY(200px);
}

.trans-right{
    transform: translateX(400px);
}