.rotated{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.trans-down{
    transform: translateY(200px);
}

.trans-right{
    transform: translateX(400px);
}

.axis path,
.axis line,
.tick line,
.line {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
}


.popup {
    fill: white;
    stroke: #000;
  }

  .spacer{
      padding-top: 10px;
  }

  @media (min-width: 768px) {
    .modal-xl {
      width: 100%;
     max-width:1400px;
    }
  }