<div class="container h-100">
  <!--Main Row-->
  <div class="row h-100 align-items-center"> 
    <!-- Main Col -->
    <div class="col">
      <!-- Row holds Title  -->
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-2 text-right">
          <img src="../../assets/blueLaptop.png" alt="BlueYOYO" width="100px" class="right">
        </div>
        <div class="col-sm-2 text-center">
          <h1>Laptops</h1>  
        </div>
        <div class="col-sm-2">
          <img src="../../assets/redLaptop.png" alt="RedYOYO" width="100px">
        </div>
      </div>
      <!-- Row holds description -->
      <div class="row justify-content-center spacer">
        <p>Configure the Display by choosing 2 attributes!</p>
      </div>
      <!-- Row holds form -->
      <div class="row justify-content-center">
        <form #myForm="ngForm" (ngSubmit)="setAxes(myForm)">
          
          <div class="row justify-content-center spacer">
            <h4>X-Axis</h4>
          </div>

          <div class="row styleSelect">
            <select name='x-axis' id="select1" class="selectBox" ngModel>
              <option value="Price">Price</option>
              <option value="Hard Drive Capacity">Hard Drive Capacity</option>
              <option value="Processor Speed">Processor Speed</option>
              <option value="System Memory(RAM)">System Memory(RAM)</option>
              <option value="Battery Life">Battery Life</option>
              <option value="Screen Size">Screen Size</option>
              <option value="Height">Height</option>
              <option value="Width">Width</option>
              <option value="Depth">Depth</option>
              <option value="Weight">Weight</option>
            </select>
          </div>

          <div class="row justify-content-center spacer">
            <h4>Y-Axis</h4>
          </div>

          <div class="row styleSelect">
            <select name='y-axis' id="select2" class="selectBox" ngModel>
                <option value="Price">Price</option>
                <option value="Hard Drive Capacity">Hard Drive Capacity</option>
                <option value="Processor Speed">Processor Speed</option>
                <option value="System Memory(RAM)">System Memory(RAM)</option>
                <option value="Battery Life">Battery Life</option>
                <option value="Screen Size">Screen Size</option>
                <option value="Height">Height</option>
                <option value="Width">Width</option>
                <option value="Depth">Depth</option>
                <option value="Weight">Weight</option>
              </select>
            </div>

          <div class="row justify-content-center spacer-btn">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
